<!DOCTYPE html> 
<html>
  <head>
    <head>
    <title>#appname()</title>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/azkaban.css">    
    <link rel="shortcut icon" href="${context}/static/favicon.ico" />
    #parse( "azkaban/webapp/servlet/velocity/style.vm" )
  </head>
  <body>
    #set($current_page="all")
    #parse( "azkaban/webapp/servlet/velocity/nav.vm" )
  </body>
</html>


