
  <div class="header">
    #parse( "azkaban/webapp/servlet/velocity/title.vm" )
    <ul id="nav" class="nav">
      <li id="all-jobs-tab" #if($current_page == 'all')class="selected"#end><a href="/#all">All Jobs</a></li>
      <li id="scheduled-jobs-tab"><a href="/#scheduled">Scheduled</a></li>
      <li id="executing-jobs-tab"><a href="/#executing">Executing</a></li>
      <li #if($current_page == 'history')class="selected"#end><a href="$!context/history">History</a></li>
      <li><a href="$!context/fs">HDFS</a></li>
    </ul>
  </div>
